body{
  padding: 0;
  margin: 0;
}

.header-div{
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  perspective: 10px;
  background-image: url(./images/background3.jpg);
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.headshot-headings{
  margin-top: 45px;
}

.headshot-div{
  display: block;
  margin: 50px auto 0 auto;
  perspective: 10px;
}

.headshot{
  display: block;
  border-radius: 100%;
  width: 80%;
  color: #6464ff;
}

.header-h1s{
  font-size: 2.7rem;
  text-align: right;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
  transform: translateY(100px);
  font-weight: 900;
}

.header-para{
  text-align: center;
  color: white;
  font-size: 1.8rem;
  width: 70%;
  display: block;
  margin: 10px auto;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
  transform: translateY(100px);
}

.technologies{
  height: auto;
  background: rgb(228,246,255);
  background: linear-gradient(197deg, rgba(228,246,255,1) 0%, rgba(0,0,0,1) 50%);
  width: 100%;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
}

h1{
  color: rgb(255, 255, 255);
  font-family: montserrat;
  text-align: center;
  font-size: 4rem;
  margin-top: 0;
}

.projects{
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  perspective: 10px;
  background-image: url(./images/background3.jpg);
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding-top: 25px;
}

.language-img{
  height: 125px;
}

.language{
  text-align: center;
  color: white;
  opacity: 0;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transform: translateY(100px);
}

.language h2{
  margin: 0;
}

.project{
  border: 1px solid white;
}

.grid{
  width: 420px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin: 0 auto;
}

.top-left{
  border-radius: 9999px 0 0 0;
  background-image: url(./images/rescueroad.png);
  background-size: cover;
}

.top-right{
  border-radius: 0 9999px 0 0 
}

.bottom-left{
  border-radius: 0 0  0 9999px;
}

.bottom-right{
  border-radius: 0 0  9999px 0;
}

.blue{
  background: blue;
}
